.card{
    width: 30%;
    margin-top: 2%;
    margin-bottom: 2%;
}

@media only screen and (max-width: 768px) {
    .card{
        width: 45%;
    }
  }

  @media only screen and (max-width: 576px) {
    .card{
        width: 100%;
    }
  }